:root {
    --background: #0f172a;
    --text: #f8fafc;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1b263b;
    color: #f1faee;
    font-family: monospace;
    height: 100vh;
}
