.prompt-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    width: 65%;
    border: 1px solid white;
    border-radius: 10px;
}

.input {
    opacity: 0;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.cursor {
    border-left: 2px solid black;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% { border-color: transparent; }
}
