.correct {
    color: green;
    animation: disappearIfCorrect 2s ease-out forwards;
}

@keyframes disappearIfCorrect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0
    }
}

.incorrect {
    color: red;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.current {
    border-bottom: 2px solid #a8dadc;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.prompt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*! Temporary Fix to center it for demo */
    margin-top: 175px;
}

/* Prompt */
.prompt-card {
    font-family: monospace;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    text-align: left;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 80%;
    
    /* animation: fadeIn 0.3s */
}

/* @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

/* Each Character */
.prompt-card span {
    padding: 2px 4px;
    border-radius: 4px;
    transition: background-color 0.1s, color 0.2s;
}

/* Input */
.input-div {
    opacity: 0;
    position: absolute;
}

/* Button */
.button-div {
    text-align: center;;
}

.button-div button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #415a77;
    color: white;
    transition: all 0.2s ease-in-out;
    background-color: #415a77;
}

.button-div button:hover {
    background-color: #e0e1dd;
    color: black;
}

.blurred {
    filter: blur(7px);
    opacity: 0.7;
    transition: all 0.5s ease;
}
