/* Results */
.tr-top-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    font-size: 3rem;
}

/* Restart Button */
.restart-btn {
    display: flex;
    justify-content: center;
    margin: 5%;
}
